body {
  background-color: rgb(16, 38, 33);
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#cont {
  font-family: Arial, Helvetica, sans-serif;
}
header,
#game {
  display: flex;
  align-items: center;
  padding: 10px;
  flex-direction: column;
}
#grilla {
  /*  color: whitesmoke; */
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 540px;
}

.cuadrado {
  display: flex;
  background-color: rgb(16, 58, 53);
  width: 180px;
  height: 180px;
  border: 1px solid whitesmoke;
}
img,
#resultado {
  display: none;
}
.show {
  display: block;
}
.hide {
  display: none;
}
